-----------------SYSTEM REQUIREMENTS----------------------

1. Requires 32 bit processor or above and operating system
2. Windows 7 or above
3. Python version 3.8.4 and above
4. Chrome web browser ( for best results )
5. SQL user client installed
6. Memory : 2GB ram
7. Storage : minimum 1 GB of free space